<md-sidenav class="side-nav md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-xs')" md-disable-backdrop="">
    <div class="logo-container">
      <div class="outer-circle">
        <div>C.W.</div>
      </div>
    </div>
    <md-list layout-padding>
      <md-item-content class="side-nav-text" ng-click="showHome()" layout="row" layout-align="start center">
        <div class="inset">
          <i class="fa fa-home fa-lg" style="font-size:1.7em"aria-hidden="true"></i>
        </div>
        <div class="side-nav-text inset">
          Home
        </div>
      </md-item-content>
      <md-item-content class="side-nav-text" ng-click="showTechnologies()" layout="row" layout-align="start center">
        <div class="inset">
          <i class="fa fa-diamond fa-lg" aria-hidden="true"></i>
        </div>
        <div class="side-nav-text inset">
          Technologies
        </div>
      </md-item-content>
      <md-item-content class="side-nav-text" layout="row" layout-align="start center" ng-click="showProjects()">
        <div class="inset">
          <i class="fa fa-flask fa-lg" aria-hidden="true"></i>
        </div>
        <div class="side-nav-text inset" style="margin: 5px">
          Projects
        </div>
      </md-item-content>
      <md-item-content class="side-nav-text" layout="row" layout-align="start center" ng-click="showAbout()">
        <div class="inset">
          <i class="fa fa-glass fa-lg" aria-hidden="true"></i>
        </div>
        <div class="side-nav-text inset" style="margin-left:5px;">
          About Me
        </div>
      </md-item-content>
    </md-list>

</md-sidenav>
