<div class="main" layout="column" layout-align="center center">
  <div layout="column" class="key-container" layout-align="center center">
    <div layout="row" md-block>
      <div>
        <div class="name key">
          <div class="keycap">C</div>
        </div>
      </div>
      <div class="name key">
        <div class="keycap">L</div>
      </div>
      <div class="name key">
        <div class="keycap">I</div>
      </div>
      <div class="name key">
        <div class="keycap">F</div>
      </div>
      <div class="name key">
        <div class="keycap">F</div>
      </div>
    </div>
    <div layout="row">
     <div class="name key">
        <div class="keycap">W</div>
      </div>
      <div class="name key">
        <div class="keycap">R</div>
      </div>
      <div class="name key">
        <div class="keycap">I</div>
      </div>
      <div class="name key">
        <div class="keycap">G</div>
      </div>
      <div class="name key">
        <div class="keycap">H</div>
      </div>
      <div class="name key">
        <div class="keycap">T</div>
      </div>
    </div>
    <h1>Full Stack Developer</h1>
  </div>
  <div flex="10"></div>
  <div layout="column" class="info-container" layout-align="center center">
    <div>
      <div class="k16 right key" ng-click="goLinkedIn()">
        <div class="keycap">
          <span  layout="row" layout-align="start center" class="key-text">
            <i class="fa fa-linkedin-square fg-lg inset" aria-hidden="true"></i> LinkedIn
          </span>
        </div>
      </div>
      <div class="k32 key" ng-click="goEmail()">
        <div class="keycap">
          <span  layout="row" layout-align="start center" class="key-text">
            <i class="fa fa-envelope fg-lg inset" aria-hidden="true"></i> Contact me!
          </span>
        </div>
      </div>
      <div class="k16 left key" ng-click="goGithub()">
        <div class="keycap">
          <span  layout="row" layout-align="start center" class="key-text">
              <i class="fa fa-github fa-lg inset" aria-hidden="true"></i>GitHub
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
