<div layout="row">
  <div class="projects" layout="column" layout-align="space-around center">
    <div class="project-container gray" layout="column" layout-align="center center">
      <div class="black">
        <h1>Cisco Switch Manager</h1>
      </div>
      <div flex></div>
      <img  class="project-img" src='<%= image_url("net.png") %>' alt='Like' >
      <div flex="1"></div>
    </div>
    <div class="project-container blue-gray" layout="column" layout-align="center center">
      <div class="black">
        <h1>Cisco Switch Manager</h1>
      </div>
      <div flex></div>
      <img  class="project-img" src='<%= image_url("net.png") %>' alt='Like' >
      <div flex="1"></div>
    </div>
  </div>
  <div class="projects" layout="column" layout-align="space-around center">
    <div class="project-container blue-gray" layout="column" layout-align="center center">
      <div class="black">
        <h1>Cisco Switch Manager</h1>
      </div>
      <div flex></div>
      <img  class="project-img" src='<%= image_url("net.png") %>' alt='Like' >
      <div flex="1"></div>
    </div>
    <div class="project-container gray" layout="column" layout-align="center center">
      <div class="black">
        <h1>Cisco Switch Manager</h1>
      </div>
      <div flex></div>
      <img  class="project-img" src='<%= image_url("net.png") %>' alt='Like' >
      <div flex="1"></div>
    </div>
  </div>
</div>
