/*
*= require_tree ../../../vendor/assets/bower_components/angular-material/
*= require_tree .
*/
.main-container {
  overflow:hidden;
}

md-sidenav{
  height: 100vh;
  background-color: #2E303C;
}

.divide {
  padding: 0;
}

.side-nav {
  width: 15em;
}
.side-nav-text {
  color: #dedbda;
  text-decoration: none;
  font-size: 1.15em;
  letter-spacing: 2px;
  font-family: 'Raleway';
  cursor: pointer;
}

.logo-container {
  cursor: pointer;
  margin: 3.5em 0 3.5em 0;
  text-align: center;
  vertical-align: middle;
}

.outer-circle {
  font-family: "Permanent Marker";
  height: 3em;
  width: 3em;
  margin: auto;
  border-radius: 50%;
  background-color: #203e60;
  border: 2px solid #555;
  font-size: 3em;
  color: #dedbda;
  div {
    margin-top: .7em;
  }
}

.inner-circle {
  height: 45%;
  width: 53%;
  border-radius: 50%;
  margin: auto;
  background-color: #c6d8ec;
  vertical-align: middle;
  border: 1px solid #cbdbed;
}

//CSS for keycaps
.key {
  cursor: pointer;
  width: 40px;
  height: 45px;
  margin: -7px;
  border-width: 3px 7px 10px;
  border-style: solid;
  border-radius: 4px;
  float: left;
  font-family: 'Average Sans', sans-serif;
  background: #d3cfcc;
  border-color: #ece8e4 #dedad6 #c9c4c4;
}

.name {
  transform: scale(1.1,1.1);
  margin: 8px 4px 8px 4px;
}

.key .keycap {
  height: 40px;
  padding: 5px 0 0 7px;
  font-size: 18px;
  line-height: 1;
  background: #f5f3f1;
  background: -webkit-linear-gradient(left, #e5e2e1, #f5f3f1, #e5e2e1);
  background: -moz-linear-gradient(left, #e5e2e1, #f5f3f1, #e5e2e1);
  background: -ms-linear-gradient(left, #e5e2e1, #f5f3f1, #e5e2e1);
  background: -o-linear-gradient(left, #e5e2e1, #f5f3f1, #e5e2e1);
  background: linear-gradient(left, #e5e2e1, #f5f3f1, #e5e2e1);
  box-shadow: 0 0 10px rgba(0,0,0,0.15);
  border-radius: 4px;
}

.f_key .keycap {
  width: inherit;
  height: inherit;
  font-size: 15px;
  line-height: 45px;
  text-indent: 7px;
  background: #cdd3de;;
  background: -webkit-linear-gradient(left, #bbc3d2, #cdd3de, #bbc3d2);
  background: -moz-linear-gradient(left, #bbc3d2, #cdd3de, #bbc3d2);
  background: -ms-linear-gradient(left, #bbc3d2, #cdd3de, #bbc3d2);
  background: -o-linear-gradient(left, #bbc3d2, #cdd3de, #bbc3d2);
  background: linear-gradient(left, #bbc3d2, #cdd3de, #bbc3d2);
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  border-radius: 4px;
}

.key-container {
  background-color: #394053;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  color: #555;
  height: 12em;
  width: 35em;
  border-radius: .05em;
}

.project-img {
  height:40%;  
  //border-radius: .2em;
}

.project-container {
  //background-color: #394053;
  color: #555;
  width: 85%;
  //border-radius: .2em;
  border-left: 1px solid black;
  border-right: 1px solid black;

  h1 {
    padding: 3px 14px 3px 14px;
    color: white;
    //background: 
      //linear-gradient(
      //rgba(84, 88, 96, 0.45), 
      //rgba(84, 88, 96, 0.45)
      //)
  }
}

.fn {
  color: black;
  width: 38px;
  border-left-width: 9px;
}

.k16.left {
  width: 140px;
  border-right-width: 10px;
}

.k32 {
  width: 290px;
  border-width: 3px 8px 10px;
  .keycap {
  }
}

.k32, .k16 {
  transform: scale(.9,.9)
}

.f_key {
  background: #a8aeb8;
  border-color: #c4c7cc #adb9cc #96a6bd;
}

.k16.right {
  width: 140px;
  border-left-width: 10px;
}

.main,.technologies,.projects,.about {
  height: 100vh;
  width: 100%;
}
.main {
  min-width: 50em;
  min-height: 30em;
  background: 
    linear-gradient(
    rgba(84, 88, 96, 0.45), 
    rgba(84, 88, 96, 0.45)
    ),
    url("http://lightersideofrealestate.com/wp-content/uploads/2014/09/clouds-background-light.jpg");

  background-size: cover;
  padding: 3em;
}

.technologies {
  background: red;
}

.projects {
  background: 
    linear-gradient(
    rgba(84, 88, 96, 0.45), 
    rgba(84, 88, 96, 0.45)
    ),
    url("http://widewallpaper.info/wp-content/uploads/2016/01/Flat-Plan-Colour-Design-Free-Downlaod-2015-Wallpapers-HD-1.png");

  background-size: cover;
}

.info-container {
  background-color:#394053;
  padding: 20px;
  border-radius: .1em;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.key-text {
  color: #555;
  height: 85%;
}

.open {
  transform: translate3d(0,-100vh,0);
  transition: 2s;
}

.close {
  height: 0px;
  transition: 2s;
}

.full-width {
  width: 100%;
}

.logo {
  transition: 1s;
  text-align: center;
}


.tile-list {
  font-size: 0px;
}

.pastel-green {
  background-color: #57d69f;
}

.d-pastel-green {
  background-color: #2cb378;
  margin-bottom: 1%;
}

.pastel-cyan {
  background-color: #1c9edf;
}
.pastel-red {
  background-color: #de292b;
}

.beige {
  background-color: #F5F5DC;
}

.green {
  background-color: #27a049;
}

.light-green {
  background-color: #71b731;
}

.light-orange {
  background-color: #f5c021;
}

.salmon {
  background-color: #ff7a74;
}

.black {
  background-color: #282828;
}

.cyan {
  background-color: #1c9edf;
}

.orange {
  background-color: #f45900;
}

.blue {
  background-color: #1a2f54;
}

.med-green {
  background-color: #38A846;
}
.yellow {
  background-color: #ffff66;
}

.dark-gray {
  background-color: #3d3c3a;
}

.white-yellow {
  background-color: #ffffe6;
}

.gray {
  background-color: #b2b4b7
}

.blue-gray {
background-color: #7fa2b6;
}

.tiles {
  height: 25vh;
  text-align: center;
  vertical-align: middle;
  min-height: 7.8em;
  min-width: 13em;
  .tile-footer {
    height: 30%;
    background: 
      linear-gradient(
      rgba(84, 88, 96, 0.45), 
      rgba(84, 88, 96, 0.45)
      );
    width: 100%;
  }

  h1 {
    height: 100%;
    color:#FEFDFB;
    font-size: 1.1em;
    display: flex;
    align-items: center;
    justify-content:center;
    transition: .5s;
    transform: scaleY(1.3);
    font-family: 'Press Start 2P', sans-serif;
  }
}

.brand-container {
  height: 70%
}

body {
  height: 100vh;
  overflow: hidden;
}
